.styledPop .ant-popover-content .ant-popover-inner .ant-popover-title{
  height: 50px;
  background: #393550;
  border-radius: 6px 6px 0px 0px;
}

.styledBtn .ant-btn-primary .ant-btn-primary:hover, .ant-btn-primary:focus{
  background:#393550;
  border-color:#393550;
}
